.search-input {
  display: flex;
  width: 220px;
  justify-content: space-between;
  :global {
    #text-input {
      border: none;
      outline: none;
      height: 30px;
      flex: 1;
      overflow: hidden;
      border-radius: 15px 0 0 15px;
      padding-left: 10px;
      color: var(--text-color-l);
      font-size: 14px;
      font-weight: 400;
      transition: all .3s;
      &:hover{
        background-color: #e0e6ed;
      }
      &:focus{
        background-color: #fff;
        border: 2px solid #20a0ff;
      }
    }
    .icon-area{
      background-color: #fff;
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
    .search-icon {
      svg{
        width: 18px;
        height: 18px;
      }
    }
  }
}
