.page-title {
  padding: 15px 10px;
  background-color: var(--bg-white);
  h2 {
    font-size: 30px;
    font-weight: 300;
    color: #000;
  }
  p {
    font-size: 13px;
    color: var(--text-color-l);
    margin-top: 6px;
    letter-spacing: 0.15em;
  }
}

.morePadding{
  padding: 20px 10px;
}