.archive-container {
  :global {
    .archive-mainArea {
      animation: containerFromBottomIn 0.5s;
      display: flex;
      justify-content: center;
      background: var(--card-bg);
      margin: 20px 0 20px 20px;
      padding-bottom: 15px;
      @media screen and (max-width: 768px) {
        margin-right: 20px;
      }
    }
  }
}
