.navCard-container {
  background-color: var(--card-bg);
  padding: 20px;
  margin: 20px 0 0 20px;
  :local {
    animation: testIn 0.5s;
  }
  :global {
    .navCard-anchor {
      visibility: hidden;
      transform: translateY(-90px);
      pointer-events: none;
    }
    .navCard-title {
      font-size: 18px;
      margin-bottom: 20px;
    }
    .navCards-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@keyframes testIn {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
