@import (reference) '../../theme/response.less';

.header {
  height: 50px;
  background-color: var(--bg-white);
  box-shadow: 0 1px 4px 1px rgb(0 0 0 / 5%);
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    justify-content: space-between;
    padding: 0 25px;
  }
  :global {
    .header-logo {
      font-size: 20px;
      font-stretch: 100%;
      font-weight: 700;
      color: var(--text-color-l);
      width: 220px;
      line-height: 50px;
      padding: 0 20px;
      cursor: pointer;
      .logo-text {
        margin-left: 15px;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    .header-menu {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        cursor: pointer;
      }
    }

    .header-search {
      margin-left: 150px;
      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
    }

    .switch-theme {
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 30px;
      margin-left: 15px;
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

:global {
  body.dark {
    .switch-theme {
      svg {
        fill: rgb(232, 230, 227);
      }
    }
  }
}

.header {
  .response();
}

:global {
  .header-menu-drawer {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
      width: 220px;
      overflow-x: hidden;
    }
    .aside-Indrawer {
      @media screen and (max-width: 768px) {
        display: block;
        height: 100vh;
      }
    }
  }
}
