.commentInputArea {
  display: flex;
  :global {
    img {
      width: 64px;
      height: 64px;
      border-radius: 5px;
    }
    .comment-inputWrapper {
      margin-left: 15px;
      flex: 1;
    }
    .commentInput-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      .comment-header-input {
        width: 30%;
      }
    }
    .commentInput-bottom {
      margin-top: 15px;
    }
  }
}
