.navAnchor-container {
  :local {
    animation: fadeIn 2s;
  }
  :global {
    li.title-anchor {
      cursor: pointer;
      user-select: none;
      margin-bottom: 8px;
      position: relative;
      width: fit-content;
      &::after {
        position: absolute;
        content: '';
        background-color: #5e7ce0;
        height: 3px;
        left: 0;
        bottom: -4px;
        width: 0;
        transition: width 0.3s;
      }

      &.active {
        &::after {
          width: 100%;
        }
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
